/*Estilo para telas menores*/
div-header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.header{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.div-home-logo{
    font-size: 2rem;
}

.section-home-search{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   

}

.navbar{
    
}

.header-navbar{

}

.header-navbar-ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    font-weight: 500;
}

.navbar-link{
    list-style: none;
    padding: 10px;
    font-size: 19px;
}





/*estilo para telas maiores*/
@media only screen and (min-width: 1025px) {
    .div-header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
    }
    
    .header{
        width: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .div-home-logo{
        font-size: 2rem;
    }
    
    .section-home-search{
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
    }
    
    .section-home-search input{
        width: 60%;
        border: none;
        font-size: 15px;
        padding: 10px;
    }
    
    .section-home-search button {
        background-color: rgb(82, 126, 221);
        color: white;
        font-weight: 600;
        border: none;
        padding: 10px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .section-home-search button:hover {
        background-color: rgb(64, 103, 231);
    }
    
    .navbar{
    
    }
    
    .header-navbar{
    
    }
    
    .header-navbar-ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
        font-weight: 500;
    }
    
    .navbar-link{
        list-style: none;
        border-bottom: 2px solid antiquewhite;
        transition: 0.5s;
        font-size: 20px;
    
    }
    
    .navbar-link:hover {
        border-bottom: 2px solid rgb(235, 100, 10);
    }
}

